<div class="container">
<div class="row">
  <div class="col-xs-3">
  <%= render 'books/userinfo', book: @book, user: @user %>
    <%= render 'books/side', book: @book, user: @user %>
    <%= render 'relationships/follow', book: @book, user: @user  %>
    
    <h2>gmap</h2>
      <!-- <div id='map'></div> -->
      <!-- geocoderを使わない方法 -->
      <iframe src="https://maps.google.co.jp/maps?output=embed&q=<%=current_user.full_address%>&z=16" width="100%" height="400" frameborder="0" scrolling="no" ></iframe>
  </div>
    <% if flash[:notice] %>
      <div class="flash">
         <%= flash[:notice] %>
      </div>
   　<% end %>
  <div class="col-xs-9">
     <h2>Books</h2>
     <table class="table table-striped">
     　<tr>
        <thead>
            <th>image</th>
            <th>name</th>
            <th>opinion</th>
        </thead>
      </tr>
      <tr>
        <% @books.each do |book| %>
         <td>
            <%= link_to user_path(@user.id), class:   "user_#{@user.id}" do %>
            <%= attachment_image_tag book.user, :profile_image, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg", size: "60x60" %>
            <% end %>
         </td>
         <td>
            <%= link_to book.title, book_path(book) %>
         </td>
         <td>
            <%= book.body %>
         </td>
      </tr>
        <% end %>
     　
     </table>
  </div>



</div>
</div>





 

<style>
#map {
  height: 600px;
  width: 100%;
}
</style>

<script>
   let map
   let geocoder
   // 下の1行を追加
   const display = document.getElementById('display')

   function initMap(){
      geocoder = new google.maps.Geocoder()

      map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 40.7828, lng:-73.9653},
      zoom: 12,
  });

  marker = new google.maps.Marker({
    position:  {lat: 40.7828, lng:-73.9653},
    map: map
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KYE'] %>&callback=initMap" async defer></script>